@model GameRater.DAL.Models.Game

@{
    ViewBag.Title = Model.Title;
}

<h2 class="game-details-title">@Model.Title</h2>

<div class="row">
    <div class="col-md-3">
        <img class="game-details-cover" src="@Model.ImageUrl"/>
        @Html.Partial("StarsRating", Model.ReviewScore)
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="game-details-summary-title">Summary</h3>
            </div>
            <div class="panel-body">@Model.Summary</div>
        </div>
    </div>
</div>

<h2>Reviews</h2>
<ul class="game-reviews-list">
    @foreach (var review in Model.Reviews)
    {
        <li class="panel panel-default">
            <div class="panel-heading">
                Username and stuff (rated: @review.Score.ToString("0.0")/5)
            </div>
            <div class="panel-body">
                @review.Content
            </div>
        </li>
    }
</ul>
