@using GameRater.DAL
@using GameRater.Helpers
@model GameRater.Models.Games.ListGamesViewModel

@{
    ViewBag.Title = "Games";
}

@if (Model.IsAdmin)
{
    <p>
        @Html.ActionLink("Add game", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.SortingColumnHeader(SortBy.Title, Model.SortGamesOptions, options => Url.Action("Index", options))
        </th>
        <th>
            Summary
        </th>
        <th>
            @Html.SortingColumnHeader(SortBy.Score, Model.SortGamesOptions, options => Url.Action("Index", options))
        </th>
        @if (Model.IsAdmin)
        {
            <th>
                Actions
            </th>
        }
    </tr>

    @foreach (var item in Model.Games)
    {
        <tr>
            <td>
                <div class="game-list-cover">
                    <a href="@Url.Action("Details", new {id = item.Id})">
                        <img src="@item.ImageUrl"/>
                        <p>@item.Title</p>
                    </a>
                </div>
            </td>
            <td>
                <p>@item.ShortSummary</p>
            </td>
            <td class="game-rating-cell">
                @Html.Partial("StarsRating", item.ReviewScore)
            </td>
            @if (Model.IsAdmin)
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                    @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                </td>
            }
        </tr>
    }
</table>

<div class="text-center">
    @Html.Paging(Model.Paging)
</div>